* {
    box-sizing: border-box;
}

body {
    color: grey;
}

#sidebar {
    width: 15%;
    padding: 10px;
    margin: 0;
    float: left;
}

#fproducts {
    width: 85%;
    padding: 10px;
    margin: 0;
    float: right;
}

ul {
    list-style: none;
    padding: 5px;
}

li a {
    color: darkgray;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: darksalmon;
}

.fa-circle {
    font-size: 20px;
}



#gcard {
    width: 100% !important;
    display: inline-block;
    height: 360px !important;
    margin-bottom: 20px;
    text-align: center;
}

#gcard-img-top {
    width: 80% !important;
    height: 250px !important;
    
    
}

#gcard-body p {
    margin: 2px;
}

#gcard-body {
    padding: 0;
    padding-left: 2px;
}

.filter {
    display: none;
    padding: 0;
    margin: 0;
}

#gbtn {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.fsorting {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(202, 194, 194, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 15%; 
    color: black;
    position: absolute;
    height: 100%;
  }
  
  .fsorting h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 2rem;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }

  button{
    border: 1px solid black;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    background-color: gray;
    font-weight: 600;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    .fsorting {
      padding: 10px;
    }
  
    .fsorting h4 {
      font-size: 16px;
    }
  
    label {
      font-size: 14px;
    }
  
    input[type="radio"] {
      margin-right: 3px;
    }
  
    /* Optional: Adjust other styles for better responsiveness */
  }
  


/* ================================= */

@media (min-width: 991px) {
    .navbar-nav {
        margin-left: 35%;
    }

    .nav-item {
        padding-left: 20px;
    }

    #gcard {
        width: 190px;
        display: inline-block;
        height: 300px;
    }

    #gcard-img-top {
        width: 188px;
        height: 210px;
    }

    #mobile-filter {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav {
        margin-left: 20%;
    }

    .nav-item {
        padding-left: 10px;
    }

    #gcard {
        width: 230px;
        display: inline-block;
        height: 300px;
        margin-bottom: 10px;
    }

    #gcard-img-top {
        width: 230px;
        height: 210px;
    }

    #mobile-filter {
        display: none;
    }
}

@media (min-width: 568px) and (max-width: 767px) {
    .navbar-nav {
        margin-left: 20%;
    }

    .nav-item {
        padding-left: 10px;
    }

    #gcard {
        width: 205px;
        display: inline-block;
        height: 320px;
        margin-bottom: 10px;
    }

    #gcard-img-top {
        width: 203px;
        height: 210px;
    }

    .fa-circle {
        font-size: 15px;
    }

    #mobile-filter {
        display: none;
    }
}

@media (max-width: 567px) {
    .navbar-nav {
        margin-left: 0%;
    }

    .nav-item {
        padding-left: 10px;
    }

    #sidebar {
        width: 100%;
        padding: 10px;
        margin: 0;
        float: left;
    }

    #fproducts {
        width: 100%;
        padding: 5px;
        margin: 0;
        float: right;
    }

    #gcard {
        width: 80% !important;
        display: inline-block;
        height: 500px;
        margin-bottom: 10px;
        margin-top: 10px;
        
    }

    #gcard-img-top {
        width: 80% !important;
        height: 210px;
        background-color: pink;
    }

    .list-group-item {
        padding: 3px;
    }

    .offset-1 {
        margin-left: 8%;
    }

    .filter {
        display: block;
        margin-left: 70%;
        margin-top: 2%;
    }

    #sidebar {
        display: block;
    }

    #mobile-filter {
        padding: 10px;
    }
}


@media (max-width: 750px) {

    .fsorting{
        position: relative;
        width: 100%;
        height: 40%;
        padding: 0;

    }

}