*{
    margin: 0;
    padding: 0;
}




.backtop h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    color: white;
    height: 4rem;
    cursor: pointer;
    margin: 0; /* Reset margin for the body */
  }
  